<div class="container">
	<h1>Howdy!Welcome to Twitter Dashboard</h1>
	<hr />
	<div class="text-center">
		<a class="btn btn-primary btn-lg" ng-click="fetchTrends()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Fetch Trends</a>
	</div>
	<div ng-show="tweets.length > 0">
		<h3>{{message}}: {{more_info.no_of_tweets}}</h3>
		<h3>DATE: {{more_info.tweets_date| date:'yyyy-MM-dd HH:mm'}}</h3>
	</div>
	<table class="table" ng-show="tweets.length > 0" border="1">
      <tbody>
        <tr class="success">
          <td class="text-center">#name</td>
        </tr>
        
        <tr ng-repeat="tweet in tweets">
            <td class="text-center">{{tweet}}</td>
        </tr>
      </tbody>
    </table>
</div>